<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Flask App</title>
    </head>
    <body>
        <div>
            <h1>PDF File generator!!</h1>
        </div>
        <!-- <div>
            <h2>pass the raw file to generate the pdf output in a template!!</h2>
        </div>
        <form action="">
            <input type="text" name="file_name" placeholder="Enter the file name" />
            <input type="submit" value="Generate PDF" />
        </form> -->

        <h2>Generate PDF Report from MySQL</h2>

        <p>
            <a href="{{ url_for('.download_report') }}">Generate Pdf Report</a>
        </p>
    </body>
</html>
